@if (controles) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(controles.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="controlesDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-controles-heading"
        jhiTranslate="proyectoArquitecturaApp.controles.delete.question"
        [translateValues]="{ id: controles.id }"
      >
        ¿Seguro que quiere eliminar Controles {{ controles.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-controles" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>
}
