<div>
  <h2 id="page-heading" data-cy="GrupoActivosHeading">
    <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.home.title">Grupo Activos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo-activos"
        [routerLink]="['/grupo-activos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.home.createLabel">Crear nuevo Grupo Activos</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (grupoActivos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.home.notFound">Ningún Grupo Activos encontrado</span>
    </div>
  }

  @if (grupoActivos && grupoActivos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disponibilidad">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.disponibilidad">Disponibilidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="integridad">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.integridad">Integridad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="confidencialidad">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.confidencialidad">Confidencialidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="criticidad">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.criticidad">Criticidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="riesgos.tipoRiesgo">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.grupoActivos.riesgos">Riesgos</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (grupoActivos of grupoActivos; track trackId(grupoActivos)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/grupo-activos', grupoActivos.id, 'view']">{{ grupoActivos.id }}</a>
              </td>
              <td>{{ grupoActivos.nombre }}</td>
              <td [jhiTranslate]="'proyectoArquitecturaApp.Disponibilidad.' + (grupoActivos.disponibilidad ?? 'null')">
                {{ { null: '', HIGH: 'Alta', MEDIUM: 'Moderada', LOW: 'Baja' }[grupoActivos.disponibilidad ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'proyectoArquitecturaApp.Integridad.' + (grupoActivos.integridad ?? 'null')">
                {{ { null: '', HIGH: 'Alta', MEDIUM: 'Moderada', LOW: 'Baja' }[grupoActivos.integridad ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'proyectoArquitecturaApp.Confidencialidad.' + (grupoActivos.confidencialidad ?? 'null')">
                {{ { null: '', HIGH: 'Alta', MEDIUM: 'Moderada', LOW: 'Baja' }[grupoActivos.confidencialidad ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'proyectoArquitecturaApp.Criticidad.' + (grupoActivos.criticidad ?? 'null')">
                {{ { null: '', HIGH: 'Alta', MEDIUM: 'Moderada', LOW: 'Baja' }[grupoActivos.criticidad ?? 'null'] }}
              </td>
              <td>
                @for (riesgos of grupoActivos.riesgos; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/riesgo', riesgos.id, 'view']">{{ riesgos.tipoRiesgo }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/grupo-activos', grupoActivos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/grupo-activos', grupoActivos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(grupoActivos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
