<div>
  <h2 id="page-heading" data-cy="ControlesHeading">
    <span jhiTranslate="proyectoArquitecturaApp.controles.home.title">Controles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="proyectoArquitecturaApp.controles.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-controles"
        [routerLink]="['/controles/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoArquitecturaApp.controles.home.createLabel">Crear nuevo Controles</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (controles?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="proyectoArquitecturaApp.controles.home.notFound">Ningún Controles encontrado</span>
    </div>
  }

  @if (controles && controles.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.controles.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="proyectoArquitecturaApp.controles.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (controles of controles; track trackId(controles)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/controles', controles.id, 'view']">{{ controles.id }}</a>
              </td>
              <td>{{ controles.nombre }}</td>
              <td>{{ controles.descripcion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/controles', controles.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/controles', controles.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(controles)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
